<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>A Toca Livraria</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/png" href="/logo.png">
</head>
<body>
  <header>
    <div class="header-container">
      <img src="/logo.png" alt="Logo da Livraria A Toca">
      <span class="titulo-header">A Toca</span>
    </div>
    <nav>
      <a href="/">Início</a> |
      <a href="/livros">Catálogo</a> |
      <a href="/favoritos">Lista de favoritos</a> |
      <a href="/livros/novo">Adicionar títulos</a>
    </nav>
  </header>
  <main>
