<%- include('partials/header') %>

<div class="home-container">
  <div class="home-texto">
    <h2>Um livro pode mudar a sua vida.</h2>
    <p>
      Uma toca é, antes de tudo, um abrigo.
    </p>
    <p>
      Ler é, por essência, um ato de recolhimento. Quando abrimos um livro, criamos uma toca invisível ao nosso redor. Cada página virada é como se cavássemos um pouco mais fundo, nos afastando das distrações e mergulhando em um universo só nosso.
    </p>
    <p>
      A leitura nos oferece abrigo mental e emocional. Ela nos transporta, nos protege e nos acolhe. Assim como uma toca, um livro é um espaço onde podemos nos esconder, sonhar e, muitas vezes, nos encontrar.  
    </p>
    <p>
      Na A Toca, a gente entende essa conexão. Por isso, criamos um lugar físico que reflete esse sentimento.
    </p>
    <p>
      Venha nós visitar na Cidade dos Sonhos!
    </p>
    <a href="/livros" class="button-link">Confira nosso catálogo</a>
  </div>
  <div class="home-imagem">
    <img src="/imagens/banner-home.png" alt="Banner Livraria A Toca">
  </div>
</div>

<%- include('partials/footer') %>
